*.py[cod]

# C extensions

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64
__pycache__

# Installer logs
pip-log.txt
@AutomationLog.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.vs/
tmp/
log/
*.log
_site
apps
_build/
*.spec
core/ios/certificate_config.py
htmlcov/
cover/

.idea/
.DS_Store
doc-auto/
DocBuilder/source
pocounit-results/

tokenid.py

Screenshot.bmp
screen.bmp